# Auto detect text files and perform LF normalization
* text=auto

# Force LF line endings for specific files
Makefile text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.py text eol=lf
*.sh text eol=lf
